<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Madrinha_s_Image_Resizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Madrinha_s_Image_Resizer.Properties.Settings>
            <setting name="AllowedExtensions" serializeAs="String">
                <value>.jpg|.png|.bmp</value>
            </setting>
            <setting name="ResizedPrefix" serializeAs="String">
                <value>Resized_</value>
            </setting>
        </Madrinha_s_Image_Resizer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
